<div class="single_tab" id="single_tab1">
  <% function check_structure(el) {
  if (el !== '' && typeof el !== 'undefined' && el !== '[{}]') {
    return true
  } return false
} %>
<ul class="nav nav-pills">
  <li><a href="#single_tab">Описание</a></li>
  <li><a class="tab_active" href="#single_tab1">Цены</a></li>
  <li><a href="#single_tab2">Рассрочка</a></li>
  <%  if (check_structure(d.layouts)) { %>
  <li><a class=""  href="#single_tab3">Планировки</a></li>
  <%  } %>
</ul>
  <div id="menu1" class="tab-pane fade">
    <div class="prices_tab flex jc">
  <div class="vertical_button ">
    <div class="button_c">
      <button type="button" name="button">Подробнее</button>
      <span class="phone_icon"><img src="/images/phone.png" /></span>
    </div>
  </div>
<div class="prices">



  <% let construct = JSON.parse(d.prices) %>





  <h3 class="underlined text-center">Цены</h3>
  <div class="rows">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <span class="circle"></span>
          <span class="bold">Однокомнатная</span>
      </div>
      <div class="col-md-6 col-sm-6">
        <span>Площадь: от   <%= construct[0].text %> м <sup>2</sup></span>
        <span>Цена: от <mark> <%= new Intl.NumberFormat('ru-RU').format(Number(construct[1].text)).replace(',', ' ')  %> у.е.</mark></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <span class="circle"></span>
          <span class="bold">Двухкомнатная</span>
      </div>
      <div class="col-md-6 col-sm-6">
        <span>Площадь: от   <%= construct[2].text %> м<sup>2</sup></span>
        <span>Цена: от <mark>  <%= new Intl.NumberFormat('ru-RU').format(Number(construct[3].text)).replace(',', ' ')  %>  у.е.</mark></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <span class="circle"></span>
          <span class="bold">Трехкомнатная</span>
      </div>
      <div class="col-md-6 col-sm-6">
        <span>Площадь: от   <%= construct[4].text %> м<sup>2</sup></span>
        <span>Цена: от <mark>  <%= new Intl.NumberFormat('ru-RU').format(Number(construct[5].text)).replace(',', ' ')  %> у.е.</mark></span>
      </div>
    </div>
    </div>
</div>
</div>
</div>

</div>
