

<% try  {    if (d.layouts !== '') { %>


      <ul class="nav nav-pills">
        <li><a  href="#home">Описание</a></li>
        <li><a  href="#menu1">Цены</a></li>
        <li><a  href="#menu2">Рассрочка</a></li>
        <li><a class="tab_active"  href="#menu3">Планировки</a></li>
      </ul>
      <div id="menu3" class="tab-pane fade">


<div class="planning_tab">
<div class="panel_col flex_col">
<div class="panel">
  <h4 class="underlined">Планировки</h4>
<ul class="nav nav-pills">





  <% console.log( JSON.parse(d.layouts));  %>

  <% i = 0; JSON.parse(d.layouts).forEach(elem => {  %>
  <%  i ++; let active, active1; if (i == 1) { active = 'in active'; activelink = 'tab_active'; } else { active = activelink = ''}  ;   %>
  <% console.log('elem.text', elem.text);  %>
  <%   if (elem.text !== undefined) { %>
     <li class=" <%= active %>" ><a data-toggle="pill" class=" <%= activelink %>" href="#slide_<%= i %>"><span class="big circle"></span><%= elem.text %></a></li>
  <%  }}); %>
</ul>
</div>
<div class="button_c">
      <button type="button" name="button">Наличие квартир</button>
      <span class="phone_icon"><img src="/images/phone.png"></span>
    </div>
    </div>
<div class="tab-content">
  <% i = 0; JSON.parse(d.layouts).forEach(elem => { i ++; let active; if (i == 1) { active = 'in active' } else { active = ''};if (elem.media !== undefined && elem.media !== '') {  %>
      <div id="slide_<%= i %>" class="tab-pane fade <%= active %>"> <div class="plannimg"> <img src="/uploads/<%= elem.media %>" /> </div> </div>
  <%  } }); %>
</div>
</div>
</div>
</div>

<% }  }     catch (e) { console.log(e);}  %>
