<section class="content-header">
  <h1>
    Личный кабинет
    <small>Добро пожаловать!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Домой</a></li>
    <li class="active"><a href="/profile"><i class="fa fa-user"></i>Профиль</a></li>
  </ol>
</section>
<section class="content">
<h1>Задачи</h1>
  <div class="row">
<% let i = 0; %>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>Тест синхронизации настроек </p>
        </div>
        <div class="icon">
        <i class="ion ion-edit"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>Subscriber API</p>
        </div>
        <div class="icon">
        <i class="ion ion-edit"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>isAdmin thread</p>
        </div>
        <div class="icon">
        <i class="ion ion-edit"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>Testimonial API</p>
        </div>
        <div class="icon">
        <i class="ion ion-edit"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p class="text-white">Cookie auth</p>
        </div>
        <div class="icon">
        <i class="ion ion-nuclear"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>User&Status based React Task API</p>
        </div>
        <div class="icon">
        <i class="ion ion-nuclear"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p><a href="https://github.com/reactjs/express-react-views" class="text-white">React - решено</a></p>
        </div>
        <div class="icon">
        <i class="ion ion-nuclear"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p class="text-white">Динамические таблицы - решено</p>
        </div>
        <div class="icon">
        <i class="ion ion-grid"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p> Автоматическая линковка транслитом - решено</p>
        </div>
        <div class="icon">
        <i class="ion ion-link"></i>
        </div>
        </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>Редактирование страниц - решено настройками сайта</p>
        </div>
        <div class="icon">
        <i class="ion ion-edit"></i>
        </div>
        </div>
        </div>
        <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
        <div class="inner">
        <h3><%- ++i; %></h3>
        <p>Убрать Multipart - решено , он остается</p>
        </div>
        <div class="icon">
        <i class="ion ion-edit"></i>
        </div>
        </div>
        </div>
</section>
