




              <% function ifDefined(elem, markup, elser) {
                if   (typeof(elem) !== 'undefined' && elem !== ''  )  {
                  return markup
                } else {
                  return elser
                }
              }
              %>


<% let obj = d %>
<div class="col-lg-8">
  <div class="listing_title_container">
    <div class="listing_title"><%= d.title %></div>
    <p class="listing_text"><%- ifDefined(d.subheading, d.subheading, 'Современный жилой комплекс со всеми удобствами') %></p>
    <div class="room_tags">
      <span class="room_tag"><a href="#"><%= obj.construction_type %></a></span>
      <span class="room_tag"><a href="#">Окна:<%= obj.windows %></a></span>
      <span class="room_tag"><a href="#"><%= obj.warming %></a></span>
      <span class="room_tag"><a href="#"><%= obj.block %> район</a></span>
    </div>
  </div>
</div>
<div class="col-lg-4 listing_price_col clearfix">
  <div class="featured_card_box d-flex flex-row align-items-center trans_300 float-lg-right">
    <img src="/images/tag.svg" alt="https://www.flaticon.com/authors/lucy-g">
    <div class="featured_card_box_content">
      <div class="featured_card_price_title trans_300">Цены от</div>
      <div class="featured_card_price trans_300"><%= d.prices_start_at.toLocaleString().replace(',', ' ') %> у.е</div>
    </div>
  </div>
</div>
