

              <% function ifDefined(elem, markup, elser) {
                if   (typeof(elem) !== 'undefined' && elem !== '' && elem !== 'OOPS!!'  )  {
                  return markup
                } else {
                  return elser
                }
              }
              %>


<% let obj = d %>


<div class="listing_details">
  <div class="listing_subtitle"><%- ifDefined(d.additional_details, d.additional_details, 'Недвижимость от компании "Будова"') %></div>
  <p class="listing_details_text"><%- ifDefined(d.additional_details_block, d.additional_details_block, 'Это надежная инвестиция на многие годы') %></p>
  <div class="rooms">
    <div class="room">
      <span class="room_title">Потолки</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/svgs/1.svg" alt=""></div>
        <span class="room_number"><%= obj.floor_height %>м<sup>2</sup></span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Этажей</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/svgs/2.svg" alt=""></div>
        <span class="room_number"><%= obj.floors_quant %></span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Квартир на этаже</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/svgs/3.svg" alt=""></div>
        <span class="room_number"><%= obj.appart_on_floor_quant %> Sq Ft</span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Секций</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/svgs/4.svg" alt=""></div>
        <span class="room_number"><%= obj.sections_quant %></span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Фасад</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/svgs/5.svg" alt=""></div>
        <span class="room_number"><%= obj.frontend_material %></span>
      </div>
    </div>
    <div class="room">
      <span class="room_title">Стены</span>
      <div class="room_content">
        <div class="room_image"><img src="/images/svgs/6.svg" alt=""></div>
        <span class="room_number"><%= obj.walls %></span>
      </div>
    </div>
  </div>
</div>
