<div class="row row_pros">
    <div class="container">
    <div class="pros_tab">
      <div class="pros">
      <h2 class="text-left text-black section_title ">  <span class="inline bold">Наши</span> преимущества</h2>
      <div class="rows">
        <div class="row">
<% let construct;
try {
 construct = JSON.parse(d.advantages)
} catch (err) {
construct = []
let homepageelem = content.filter(elem => elem.title.includes('Главная') )
homepageelem.map(elem => construct = JSON.parse(elem.advantages) )
} %>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class=""><%= construct[0].text %></span>
          </div>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class=""><%= construct[1].text %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class=""><%= construct[2].text %></span>
          </div>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class=""><%= construct[3].text %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class=""><%= construct[4].text %></span>
          </div>
          <div class="col-md-6 row">
            <span class="circle"></span>
              <span class=""><%= construct[5].text %></span>
          </div>
        </div>
        </div>
        <div class="w100">
      <div class="button_c">
        <button type="button" name="button">Заказать звонок</button>
        <span class="phone_icon"><img src="/images/phone.png"></span>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
