


<%
  function chunk(arr,n){
    var r = Array(Math.ceil(arr.length/n)).fill();
    return r.map((e,i) => arr.slice(i*n, i*n+n));
  }

  try {
    console.log('d["social_infrastructure"]', d["social_infrastructure"]);
    JSON.parse(d["social_infrastructure"].replaceAll('amp_symbol', '&'))

  let chunked = chunk(JSON.parse(d["social_infrastructure"].replaceAll('amp_symbol', '&')),3);
  %>
  <%- d.map_iframe.replace('width="600"', 'width="100%"') %>

<div class="map">
<div class="container">
  <div class="row banner">
    <div class="col-md-6 dark">

      <h3 class="text-white">Социальная <span class="bold">инфраструктура</span></h3>
      <div class="frow">
         <span class="text-white"><%= d.address %> (<%= d.block %>  район)</span>
      </div>
      <div class="row">
      <div class="col-md-12">
              <%     [chunked[0], chunked[1], chunked[2], chunked[3]].forEach(function(elem){ %>
                <div class="row">
                  <span><img src="/uploads/<%= elem[0].media %>" /></span>
                <div class="space-between">  <span><%= elem[1].text %> </span>
                  <span> <%= elem[2].text  %> </span></div>
                </div>
                <%     }) %>

      </div>
      </div>
    </div>
    <div class="col-md-6 blueb">
      <%     [chunked[4], chunked[5], chunked[6], chunked[7]].forEach(function(elem){ %>
        <div class="row">
          <span><img src="/uploads/<%= elem[0].media %>" /></span>
        <div class="space-between">  <span><%= elem[1].text %> </span>
          <span> <%= elem[2].text  %> </span></div>
        </div>
        <%     }) %>
  </div>
</div>
</div>
</div>


  <%   } catch (err) { } %>
<%   include ../partials/related  %>
