<div class="newsletter">
  <div class="container">
    <div class="row row-equal-height">
      <div class="col-lg-6">
        <div class="newsletter_title">
          <h3><%= sitedata.subscribe_heading %></h3>
          <span class="newsletter_subtitle"><%= sitedata.subscribe_subheading %></span>
        </div>
        <div class="newsletter_form_container">
          <form action="#">
            <div class="newsletter_form_content d-flex flex-row">
              <input id="newsletter_email" class="newsletter_email" type="email" placeholder="<%= sitedata.subscribe_placeholder %>" required="required" data-error="<%= sitedata.subscribe_data_error %>.">
              <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_200" value="Submit"><%= sitedata.subscribe_text %></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <a href="#">
          <div class="weekly_offer">
            <div class="weekly_offer_content d-flex flex-row">
              <div class="weekly_offer_icon d-flex flex-column align-items-center justify-content-center">
                <img src="<%= sitedata.weekly_offer_prize %>" alt="">
              </div>
              <div class="weekly_offer_text text-center"><%= sitedata.weekly_offer_heading %></div>
            </div>
            <div class="weekly_offer_image" style="background-image:url(<%= sitedata.weekly_offer_background %>)"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
