


<%
function get_year_quarter(month_number) {
  switch (month_number) {
  case '01':
  case '02':
  case '03':
    return '1 квартал'
    break;
  case '04':
  case '05':
  case '06':
    return '2 квартал'
    break;
  case '07':
  case '08':
  case '09':
  return '3 квартал'
  break;
  case '10':
  case '11':
  case '12':
  return '4 квартал'
  break;
  default:
    return ''
}

return month_number
}
%>
<%
function convert_quarter_string(datestring) {
  if (typeof(datestring) == 'undefined' || datestring == null || datestring == '') { return }
  return '' + get_year_quarter(datestring.split('/')[0]) + ' ' + datestring.split('/')[2] + 'г'
}

function remove_quotation_at_end(a){
  if (a[a.length - 1] === '"' || a[a.length - 1] === "'") return a.slice(0, -1)
  return a
}
function cut_text(a, count){
    return a.slice(0, count) + (a.length > count ? "..." : "");
}




%>


      <div class="col-md-12">
        <div class="el_card">
          <div class="image_c">
          <a href="/novosti/<%= obj.page_link %>" style="background: url('/uploads/<%= obj.home_background %>')"></a>
          </div>
            <div class="panel bordered">
                <div class="cardboard">
                  <div class="row">
                  <div class="col-md-12">
                    <a href="/doma/<%= obj.page_link %>">      <h4><%= obj.title %></h4>            </a>

                <div class="article_body flex-col">
                  <p class="desc"> <%- cut_text(remove_quotation_at_end(obj.content), 350) %> </p>
                <span class="get_more">    <a class="read_more" href="/novosti/<%= obj.page_link %>">Читать<i class="fa fa-arrow-right"></i></a> </span>

                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
