
	<header class="header trans_300">
			<% include ../partials/header %>
	</header>
	<div class="listing">
		<div class="container">
			<div class="row">


				<% include ../partials/single/single_top %>
			</div>
			<div class="row">

				<% include ../partials/single/single_slider %>
			</div>


			<div class="row listing_content_row">

				<div class="col-lg-8 listing_col">


					<% include ../partials/single/single_pre_description %>

					<!-- Listing Description -->
					<div class="listing_description">
						<div class="listing_subtitle">Описание</div>
						<p class="listing_description_text"><%- d.content %></p>
					</div>

					<!-- Listing Additional Details -->
					<div class="listing_additional_details">
						<div class="listing_subtitle">Дополнительная информация</div>
						<ul class="additional_details_list">
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
						</ul>
					</div>

					<!-- Listing Video -->
					<div class="listing_video">
						<div class="listing_subtitle"><%- d.title %> на видео</div>
						<div class="listing_video_link">
							<a class="video" href="<%- d.video %>" title="">
								<img src="/video/video_banner.png" alt="/video/video_banner.png"><div class="video_play"><img src="/images/play.svg" alt=""></div></a>

						</div>
					</div>

					<!-- Listing Map -->
					<div class="listing_map">
						<div class="listing_subtitle"><%- d.title %> на карте</div>
						<div id="google_map">
							<div class="map_container">
								<%- d.map_iframe %>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>




  <% include ../partials/newsletter %>
  <% include ../partials/footer %>
