

<% if (typeof obj.content !== 'undefined') { %>

        <div class="col-lg-4 featured_card_col" id="<%= obj._id %>">



        <div class="featured_card_container">
          <div class="card featured_card trans_300">
            <div class="featured_panel">Обновлено  </div>
          <a href="/doma/<%= obj.page_link %>">  <img class="card-img-top" src="/uploads/<%= obj.home_background %>" alt="<%= obj.title %>"></a>
            <div class="card-body">
              <div class="card-title"><a href="listings_single.html"><%= obj.title %></a></div>
              <div class="card-text"><%- obj.content.replace(/<[^>]*>/g, '').substring(0, 300); %> </div> <a class="podr" href="/doma/<%= obj.page_link %>">Подробнее</a>
              <div class="rooms">
                <div class="room">
                  <span class="room_title">Потолки</span>
                  <div class="room_content">
                    <div class="room_image"><img src="images/svgs/1.svg" alt=""></div>
                    <span class="room_number"><%= obj.floor_height %>м<sup>2</sup></span>
                  </div>
                </div>
                <div class="room">
                  <span class="room_title">Этажей</span>
                  <div class="room_content">
                    <div class="room_image"><img src="images/svgs/2.svg" alt=""></div>
                    <span class="room_number"><%= obj.floors_quant %></span>
                  </div>
                </div>
                <div class="room">
                  <span class="room_title">Квартир на этаже</span>
                  <div class="room_content">
                    <div class="room_image"><img src="images/svgs/3.svg" alt=""></div>
                    <span class="room_number"><%= obj.appart_on_floor_quant %> Sq Ft</span>
                  </div>
                </div>
                <div class="room">
                  <span class="room_title">Секций</span>
                  <div class="room_content">
                    <div class="room_image"><img src="images/svgs/4.svg" alt=""></div>
                    <span class="room_number"><%= obj.sections_quant %></span>
                  </div>
                </div>
                <div class="room">
                  <span class="room_title">Фасад</span>
                  <div class="room_content">
                    <div class="room_image"><img src="images/svgs/5.svg" alt=""></div>
                    <span class="room_number"><%= obj.frontend_material %></span>
                  </div>
                </div>
                <div class="room">
                  <span class="room_title">Стены</span>
                  <div class="room_content">
                    <div class="room_image"><img src="images/svgs/6.svg" alt=""></div>
                    <span class="room_number"><%= obj.walls %></span>
                  </div>
                </div>
              </div>
              <div class="room_tags">
                <span class="room_tag"><a href="#"><%= obj.construction_type %></a></span>
                <span class="room_tag"><a href="#">Окна:<%= obj.windows %></a></span>
                <span class="room_tag"><a href="#"><%= obj.warming %></a></span>
                <span class="room_tag"><a href="#"><%= obj.block %> район</a></span>
              </div>
            </div>
          </div>
          <div class="featured_card_box d-flex flex-row align-items-center trans_300">
            <img src="images/tag.svg" alt="https://www.flaticon.com/authors/lucy-g">
            <div class="featured_card_box_content">
              <div class="featured_card_price_title">Цены от</div>
              <div class="featured_card_price"><%= obj.prices_start_at %> </div>
            </div>
<a class="page_link" href="/doma/<%= obj.page_link %>" >        Перейти    <img src="images/nav_right.png" alt=""> </a>
          </div>
        </div>
      </div>
      <% } %>
