	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 contact_col">
					<div class="budova_contact_form">
						<div class="contact_title"><%= sitedata.contacts_page_form_title %></div>
						<div class="budova_contact_form_container">
						</div>
					</div>
				</div>
				<div class="col-lg-3 contact_col">
					<div class="contact_title"><%= sitedata.contacts_page_contact_title %></div>
					<ul class="contact_info_list budova_contact">
						<%- ifDefined(sitedata.address, `
								<li class="contact_info_item d-flex flex-row">
								<div>
									<div class="contact_info_icon">
										<img src="images/placeholder.svg" alt="">
									</div>
								</div>
									<div class="contact_info_text">${sitedata.address}</div>
								</li>
						 `) %>
						<%- ifDefined(sitedata.phone, `
								<li class="contact_info_item d-flex flex-row">
								 <div>
									 <div class="contact_info_icon">
										<img src="images/phone-call.svg" alt="">
									 </div>
								 </div>
								 <div class="contact_info_text">${sitedata.phone}</div>
								</li>
						 `) %>
						<%- ifDefined(sitedata.mail, `
							<li class="contact_info_item d-flex flex-row">
								<div><div class="contact_info_icon"><img src="images/message.svg" alt=""></div></div>
								<div class="contact_info_text"><a href="mailto:${sitedata.mail}?Subject=Hello" target="_top">${sitedata.mail}</a></div>
							</li>
							`) %>
							<li class="contact_info_item d-flex flex-row">
								<div><div class="contact_info_icon"><img src="images/planet-earth.svg" alt=""></div></div>
								<div class="contact_info_text"><a href="/"><%- ifDefined(sitedata.sitename, sitedata.sitename) %></a></div>
							</li>
					</ul>
					<div class="budova_social">
						<ul class="budova_social_list">
							            <%- 		ifDefined(sitedata.fb_link, '<li class="footer_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>') %>
							            <%- 		ifDefined(sitedata.insta_link, '<li class="footer_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li></a></li>') %>
							            <%- 		ifDefined(sitedata.twitter_link, '<li class="footer_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li></a></li>') %>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 contact_col">
					<div class="contact_title">about</div>
					<div class="budova_about_text">
						<p>Lorem ipsum dolor sit amet, cons ectetur  quis ferme adipiscing elit. Suspen dis se tellus eros, placerat quis ferme ntum et, adipiscingvive rra sit ipsum amet lacus. </p>
						<p>Nam gravida quis placerat quis fe rme ntum et ferme sadipiscinge te llus semper augue.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
