<% function iterate_item(itemData){ %>
	<% itemData.forEach(function(item){ %>
			<li class="<%= item.class %>"><span><a href="<%= item.url %>"><%= item.text %></a></span></li>
	<% }); %>
<% } %>
<% function iterate_text_item(itemData){ %>
	<% itemData.forEach(function(item){ %>
		<%= item.text %>
	<% }); %>
<% } %>
<% function html_items(itemData){ %>
	<% itemData.forEach(function(item){ %>
		<<%= item.node %> class="<%= item.class %>"><<%= item.childnode %>><a href="<%= item.url %>"><%= item.text %></a></<%= item.childnode %>></<%= item.node %>>
	<% }); %>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
<title><%= d.dbtest %> <%= d.title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="The Estate Teplate">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/listings_single_styles.css">
<link rel="stylesheet" type="text/css" href="styles/listings_single_responsive.css">
</head>
<body>
<div class="super_container">
	<!-- Home -->
	<div class="home">
		<!-- Image by: https://unsplash.com/@jbriscoe -->
		<div class="home_background" style="background-image:url(<%= d.home_background %>)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_title">
							<h2><%= d.home_title %></h2>
						</div>
						<div class="breadcrumbs">
							<ul>
  <% d.breadcrumbs.forEach(function(menu_item){ %>
  		<span class="<%= menu_item.class %>"><a href="<%= menu_item.url %>"><%= menu_item.text %></a></span>
  <% }); %>
</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header trans_300">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center trans_300">
						<div class="logo_container">
							<a href="#">
								<div class="logo">
									<img src="<%= d.logo[0]["logo"] %>" alt="">
										<span><%= d.logo[0]["text"] %></span>
								</div>
							</a>
						</div>
						<nav class="main_nav">
							<ul class="main_nav_list">
		<% d.main_nav_list.forEach(function(item){ %>
				<li class="<%= item.class %>"><a href="<%= item.url %>"><%= item.text %></a></span>
		<% }); %>
							</ul>
						</nav>
						<!-- Phone Home -->
						<div class="phone_home text-center">
							<span><%= d.phone["text"] %></span>
						</div>
						<!-- Hamburger -->
						<div class="hamburger_container menu_mm">
							<div class="hamburger menu_mm">
								<i class="fas fa-bars trans_200 menu_mm"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Menu -->
		<div class="menu menu_mm">
			<ul class="menu_list">
				<% d.main_nav_list.forEach(function(item){ %>
						<li class="menu_item"> <div class="container"> <div class="row"> <div class="col"> <a href="<%= item.url %>"><%= item.text %></a> </div> </div> </div> </li>
				<% }); %>
			</ul>
		</div>
	</header>
	<!-- Listing -->
	<div class="listing">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<!-- Listing Title -->
					<div class="listing_title_container">
						<div class="listing_title"><%= d.listing_title %></div>
						<p class="listing_text"><%= d.listing_text %>.</p>
						<div class="room_tags">
							<% html_items(d.room_tags) %>
						</div>
					</div>
				</div>
				<!-- Listing Price -->
				<div class="col-lg-4 listing_price_col clearfix">
					<div class="featured_card_box d-flex flex-row align-items-center trans_300 float-lg-right">
						<img src="<%= d.listing_price_col[0].image %>" alt="">
						<div class="featured_card_box_content">
							<div class="featured_card_price_title trans_300"><%= d.listing_price_col[0].text %></div>
							<div class="featured_card_price trans_300"><%= d.listing_price_col[0].price %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<!-- Listing Image Slider -->
					<div class="listing_slider_container">
						<div class="owl-carousel owl-theme listing_slider">
							<!-- Listing Slider Item -->
							<% d.listing_slider.forEach(function(item){ %>
								<div class="owl-item listing_slider_item">
									<img src="<%= item.image %>" alt="<%= item.alt %>">
								</div>
							<% }); %>
						</div>
						<div class="listing_slider_nav listing_slider_prev d-flex flex-row align-items-center justify-content-center trans_200">
							<img src="images/nav_left.png" alt="">
						</div>
						<div class="listing_slider_nav listing_slider_next d-flex flex-row align-items-center justify-content-center trans_200">
							<img src="images/nav_right.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="row listing_content_row">
				<!-- Search Sidebar -->
				<!-- Listing -->
				<div class="col-lg-8 listing_col">
					<div class="listing_details">
						<div class="listing_subtitle"><%= d.listing_details[0]["heading"] %></div>
						<p class="listing_details_text"><%= d.listing_details[0]["paragraph"] %></p>
						<div class="rooms">
							<% d.listing_details[0]["iconblock"].forEach(function(item){ %>
								<div class="room">
									<span class="room_title">		<%= item.text %></span>
									<div class="room_content">
										<div class="room_image"><img src="<%= item.icon %>" alt=""></div>
										<span class="room_number"><%= item.numbers %></span>
									</div>
								</div>
							<% }); %>
						</div>
					</div>
					<!-- Listing Description -->
					<div class="listing_description">
						<div class="listing_subtitle"><%= d.description[0].heading %></div>
						<p class="listing_description_text"><%= d.description[0].description %></p>
					</div>
					<!-- Listing Additional Details -->
					<div class="listing_additional_details">
						<div class="listing_subtitle"><%= d.additional_details[0]["heading"] %></div>
						<ul class="additional_details_list">

							<% d.additional_details[0]["list"].forEach(function(item){ %>
													<li class="additional_detail"><span><%= item.heading %></span> <%= item.text %></li>
							<% }); %>


						</ul>
					</div>
					<!-- Listing Video -->
					<div class="listing_video">
						<div class="listing_subtitle"><%= d.listing_video[0].heading %></div>



						<% d.listing_video[0].video.forEach(function(item){ %>
													<div class="listing_video_link">
														<a class="video" href="<%= item.href %>" title="">
															<img src="<%= item.src %>" alt="<%= item.alt %>"></a>
														<div class="video_play">
															<img src="<%= item.play_src %>" alt="<%= item.alt %>">
														</div>
													</div>
						<% }); %>

					</div>
					<!-- Listing Map -->
					<div class="listing_map">
						<div class="listing_subtitle"><%= d.map[0].heading %></div>
						<div id="google_map">
							<div class="map_container">
								<div id="map"><iframe src='<%= d.map[0].iframe %>' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="row row-equal-height">
				<div class="col-lg-6">
					<div class="newsletter_title">
						<h3><%= d.subscribe.heading %></h3>
						<span class="newsletter_subtitle"><%= d.subscribe.subheading %></span>
					</div>
					<div class="newsletter_form_container">
						<form action="#">
							<div class="newsletter_form_content d-flex flex-row">
								<input id="newsletter_email" class="newsletter_email" type="email" placeholder="<%= d.subscribe.placeholder %>" required="required" data-error="Valid email is required.">
								<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_200" value="Submit"><%= d.subscribe.subscribe %></button>
							</div>
						</form>
					</div>



				</div>
				<div class="col-lg-6">
					<a href="#">
						<div class="weekly_offer">
							<div class="weekly_offer_content d-flex flex-row">
								<div class="weekly_offer_icon d-flex flex-column align-items-center justify-content-center">
									<img src="<%= d.weekly_offer.prize %>" alt="">
								</div>
								<div class="weekly_offer_text text-center"><%= d.weekly_offer.heading %></div>
							</div>
							<div class="weekly_offer_image" style="background-image:url(<%= d.weekly_offer.background %>)"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- Footer About -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title">
						<div class="logo_container">
							<a href="#">
								<div class="logo">
									<img src="<%= d.logo[0]["logo"] %>" alt="">
									<span><%= d.logo[0]["text"] %></span>
								</div>
							</a>
						</div>
					</div>
					<div class="footer_social">
						<ul class="footer_social_list">

							<% d.footer_social["list"].forEach(function(item){ %>
							<li class="footer_social_item"><a href="<%= item.url %>"><i class="<%= item.fa_icon %>"></i></a></li>
<% }); %>
						</ul>
					</div>
					<div class="footer_about">
						<p><%= d.footer_about.text %>.</p>
					</div>
				</div>
				<!-- Footer Useful Links -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title"><%= d.useful_links.text %></div>
					<ul class="footer_useful_links">

						<% d.useful_links.menu_list.forEach(function(item){ %>
								<li class="useful_links_item"><a href="<%= item.url %>"><%= item.text %></a></li>
<% }); %>
					</ul>
				</div>
				<!-- Footer Contact Form -->



				<div class="col-lg-3 footer_col">
					<div class="footer_col_title"><%= d.footer_col_title.heading %></div>
					<div class="footer_contact_form_container">
						<form id="footer_contact_form" class="footer_contact_form" action="post">
							<input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="<%= d.footer_col_title.placeholder_name %>.">
							<input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="<%= d.footer_col_title.placeholder_mail %>.">
							<textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="<%= d.footer_col_title.placeholder_message %>."></textarea>
							<button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit"><%= d.footer_col_title.placeholder_submit %></button>
						</form>
					</div>
				</div>




				<!-- Footer Contact Info -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title"><%= d.contact_info.heading %></div>
					<ul class="contact_info_list">
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="<%= d.contact_info.addr_src %>" alt=""></div></div>
							<div class="contact_info_text"><%= d.contact_info.address %></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="<%= d.contact_info.phone_src %>" alt=""></div></div>
							<div class="contact_info_text"><%= d.contact_info.phone %></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="<%= d.contact_info.mail_src %>" alt=""></div></div>
							<div class="contact_info_text"><a href="mailto:<%= d.contact_info.heading %>?Subject=Hello" target="_top"><%= d.contact_info.mail %></a></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="images/planet-earth.svg" alt=""></div></div>
							<div class="contact_info_text"><a href="https://siteodessa.com">siteodessa.com</a></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Credits -->
	<div class="credits">
		<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Proudly presented to you <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://siteodessa.com" target="_blank">Siteodessa.com</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
	</div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="js/listings_single_custom.js"></script>
</body>
</html>
