<% function single_editable_field(d, key, is_Admin){ %>
	<div class=" meditor <%= key %>">
	<div class="mcontent">
	<%= d[key] %>
	</div><div class="form"><label><%= key %></label> <input type="text" key="<%= key %>" value="<%= d[key] %>" /><div class="msubmit"><img class="contact_info_icon" src="/images/refresh.svg" /></div> </div>
	</div>
<% } %>



<% function li_a_text(classname, href, text){ %>
	<li class="<%= classname %>"><a href="<%= href %>"><%= text %></a></li>
	<% }  %>
<% function li_a_editor(){ %>
	 <% for (var i = 0; i < arguments.length; i++) { %>
<input class="mxfield" type="text" key="" value="<%= arguments[i] %>" />
<%  }%>

	<% }  %>
<% function multiple_editable_ul(d, key, is_Admin, ulclass){ %>
		<ul class="">
	<% for (let item in d[key]) {	%>
	<%   item = d[key][item];	%>
	<%  let classname = item["class"];	%>
	<%  let href = item["url"];	%>
	<%  let text = item["name"];	%>
			<% 			li_a_text(classname, href, text) 	%>
			<% 		}	%>
			</ul>
				<div class="mxeditor">
					<div class="mxedition">
						<% for (let item in d[key]) {	%>
						<%   item = d[key][item];	%>
						<%  let classname = item["class"];	%>
						<%  let href = item["url"];	%>
						<%  let text = item["name"];	%>
						<div class="mxrow">
						<% 			li_a_editor(text, href, classname) 	%>
						</div>
						<% 		}	%>
					</div>
				</div>
<% }  %>

<% is_Admin = true %>

<!DOCTYPE html>
<html lang="en">
<head>
		<title> <%= d.title %></title>


		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="The Estate Teplate">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
		<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
		<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="styles/listings_single_styles.css">
		<link rel="stylesheet" type="text/css" href="styles/listings_single_responsive.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
<div class="super_container">
	<!-- Home -->
	<div class="home">
		<!-- Image by: https://unsplash.com/@jbriscoe -->
		<div class="home_background" style="background-image:url(<%= d.home_background %>)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_title">
							<h2><%= single_editable_field(d, "home_title", is_Admin) %></h2>
						</div>
						<div class="breadcrumbs">





		<% multiple_editable_ul(d, "breadcrumbs", is_Admin)	%>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header class="header trans_300">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center trans_300">
						<div class="logo_container">
							<a href="#">
								<div class="logo">
									<img src="<%= d.logo.logo %>" alt="">
										<span><%= d.logo.text %></span>
								</div>
							</a>
						</div>
						<nav class="main_nav">


	<% multiple_editable_ul(d, "main_nav_list", is_Admin)	%>



						</nav>
						<!-- Phone Home -->
						<div class="phone_home text-center">
							<span><%= d.phone.text %></span>
							<%# ~~~~~~~~~ %>

						</div>
						<!-- Hamburger -->
						<div class="hamburger_container menu_mm">
							<div class="hamburger menu_mm">
								<i class="fas fa-bars trans_200 menu_mm"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Menu -->
		<div class="menu menu_mm">
			<ul class="menu_list">
				<% for (let item in d.main_nav_list) {	item = d.main_nav_list[item];%>
											<li class="menu_item"> <div class="container"> <div class="row"> <div class="col"> <a href="<%= item["url"] %>"><%= item["name"] %></a> </div> </div> </div> </li>
				<% 		}	%>





			</ul>
		</div>
	</header>
	<!-- Listing -->
	<div class="listing">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<!-- Listing Title -->
					<div class="listing_title_container">
						<div class="listing_title"><%= d.listing_title.text %></div>
						<p class="listing_text"><%= d.listing_text.text %>.</p>
						<div class="room_tags">
							<% for (let item in d.room_tags) {item = d.room_tags[item];	%>
		<<%= item["node"] %> class="<%= item["class"] %>"><<%= item["childnode"] %>><a href="<%= item["url"] %>"><%= item["name"] %></a></<%= item["childnode"] %>></<%= item["node"] %>>
		<% 		}	%>
						</div>
					</div>
				</div>
				<!-- Listing Price -->
				<div class="col-lg-4 listing_price_col clearfix">
					<div class="featured_card_box d-flex flex-row align-items-center trans_300 float-lg-right">
						<img src="<%= d.listing_price_col.image %>" alt="">
						<div class="featured_card_box_content">
							<div class="featured_card_price_title trans_300"><%= d.listing_price_col.text %></div>
							<div class="featured_card_price trans_300"><%= d.listing_price_col.price %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<!-- Listing Image Slider -->
					<div class="listing_slider_container">
						<div class="owl-carousel owl-theme listing_slider">
							<!-- Listing Slider Item -->

							<% for (let item in d.listing_slider) {	item = d.listing_slider[item]; %>
								<div class="owl-item listing_slider_item">
									<img src="<%= item.image %>" alt="<%= item.alt %>">
								</div>
<% 		}	%>

						</div>
						<div class="listing_slider_nav listing_slider_prev d-flex flex-row align-items-center justify-content-center trans_200">
							<img src="images/nav_left.png" alt="">
						</div>
						<div class="listing_slider_nav listing_slider_next d-flex flex-row align-items-center justify-content-center trans_200">
							<img src="images/nav_right.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="row listing_content_row">
				<!-- Search Sidebar -->
				<!-- Listing -->
				<div class="col-lg-8 listing_col">
					<div class="listing_details">
						<div class="listing_subtitle"><%= d.listing_details.heading %></div>
						<p class="listing_details_text"><%= d.listing_details.text %></p>
						<div class="rooms">


							<% for (let item in d.listing_details_iconblock) { item = d.listing_details_iconblock[item];	%>
								<div class="room">
									<span class="room_title">		<%= item.text %></span>
									<div class="room_content">
										<div class="room_image"><img src="<%= item.icon %>" alt=""></div>
										<span class="room_number"><%= item.numbers %></span>
									</div>
								</div>

		<% 		}	%>



						</div>
					</div>
					<!-- Listing Description -->
					<div class="listing_description">
						<div class="listing_subtitle"><%= d.description.heading %></div>
						<p class="listing_description_text"><%= d.description.description %></p>
					</div>
					<!-- Listing Additional Details -->
					<div class="listing_additional_details">

						<div class="listing_subtitle"><%= d.additional_details.heading %></div>
						<ul class="additional_details_list">

							<% for (let item in d.additional_details_block) {	 item = d.additional_details_block[item];%>

														<li class="additional_detail"><span><%= item.heading %></span> <%= item.text %></li>
									<% 		}	%>

						</ul>
					</div>
					<!-- Listing Video -->
					<div class="listing_video">
						<div class="listing_subtitle"><%= d.listing_video.heading %></div>

							<div class="listing_video_link">
								<a class="video" href="<%= d.listing_video.href %>" title="<%= d.listing_video.alt %>">
									<img src="<%= d.listing_video.src %>" alt="<%= d.listing_video.alt %>"></a>
								<div class="video_play">
									<img src="<%= d.listing_video.play_src %>" alt="<%= d.listing_video.alt %>">
								</div>
							</div>


					</div>

					<!-- Listing Map -->
					<div class="listing_map">
						<div class="listing_subtitle"><%= single_editable_field(d, "map_heading") %></div>
						<div id="google_map">
							<div class="map_container">
								<div id="map"><iframe src='<%= d.map_iframe %>' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="row row-equal-height">
				<div class="col-lg-6">
					<div class="newsletter_title">
						<h3><%= d.subscribe.heading %></h3>
						<span class="newsletter_subtitle"><%= d.subscribe.subheading %></span>
					</div>
					<div class="newsletter_form_container">
						<form action="#">
							<div class="newsletter_form_content d-flex flex-row">
								<input id="newsletter_email" class="newsletter_email" type="email" placeholder="<%= d.subscribe.placeholder %>" required="required" data-error="<%= d.subscribe.data_error %>.">
								<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_200" value="Submit"><%= d.subscribe.subscribe %></button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<a href="#">
						<div class="weekly_offer">
							<div class="weekly_offer_content d-flex flex-row">
								<div class="weekly_offer_icon d-flex flex-column align-items-center justify-content-center">
									<img src="<%= d.weekly_offer.prize %>" alt="">
								</div>
								<div class="weekly_offer_text text-center"><%= d.weekly_offer.heading %></div>
							</div>
							<div class="weekly_offer_image" style="background-image:url(<%= d.weekly_offer.background %>)"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- Footer About -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title">
						<div class="logo_container">
							<a href="#">
								<div class="logo">
									<img src="<%= d.logo.logo %>" alt="">
									<span><%= d.logo.text %></span>
								</div>
							</a>
						</div>
					</div>
					<div class="footer_social">
						<ul class="footer_social_list">

							<% for (let item in d.footer_social) { item = d.footer_social[item];	%>
				<li class="footer_social_item"><a href="<%= item.url %>"><i class="<%= item.fa_icon %>"></i></a></li>

		<% 		}	%>


						</ul>
					</div>
					<div class="footer_about">
						<p><%= d.footer_about.text %>.</p>
					</div>
				</div>
				<!-- Footer Useful Links -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title"><%= d.useful_links.text %></div>
					<ul class="footer_useful_links">
						<% for (let item in d.useful_links_menu_list) { item = d.useful_links_menu_list[item];	%>
						<li class="useful_links_item"><a href="<%= item.url %>"><%= item.text %></a></li>
		<% 		}	%>
					</ul>
				</div>
				<!-- Footer Contact Form -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title"><%= d.footer_col_title.heading %></div>
					<div class="footer_contact_form_container">
						<form id="footer_contact_form" class="footer_contact_form" action="post">
							<input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="<%= d.footer_col_title.name_error %>.">
							<input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="<%= d.footer_col_title.mail_error %>.">
							<textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="<%= d.footer_col_title.message_error %>."></textarea>
							<button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit"><%= d.footer_col_title.submit_text %></button>
						</form>
					</div>
				</div>
				<!-- Footer Contact Info -->
				<div class="col-lg-3 footer_col">
					<div class="footer_col_title"><%= d.contact_info.heading %></div>
					<ul class="contact_info_list">
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="<%= d.contact_info.addr_src %>" alt=""></div></div>
							<div class="contact_info_text"><%= d.contact_info.address %></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="<%= d.contact_info.phone_src %>" alt=""></div></div>
							<div class="contact_info_text"><%= d.contact_info.phone %></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="<%= d.contact_info.mail_src %>" alt=""></div></div>
							<div class="contact_info_text"><a href="mailto:<%= d.contact_info %>?Subject=Hello" target="_top"><%= d.contact_info.mail %></a></div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="images/planet-earth.svg" alt=""></div></div>
							<div class="contact_info_text"><a href="https://siteodessa.com">siteodessa.com</a></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<div class="credits">
		<span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Proudly presented to you <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://siteodessa.com" target="_blank">Siteodessa.com</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
	</div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="js/listings_single_custom.js"></script>
<%# START %>
<div class="editor_block">
<div class="editor_holder">
<div class="editor_caption">
<form id="editor" action="/notes" method="put">
	<h2>	Update </h2>
	<span></span>
	<div id="subm"  class="btn btn-default" placeholder="Send">Update</div>
	<input type="submit" placeholder="Сохранить"  value="Сохранить"/>
</form>
</div>
</div>
<script>
  function adminPanel(elem) {
			this.init = function() {
				 this.get()
				 this.createform()
				 self = this
			}
			function findAncestor (el, cls) {
    while ((el = el.parentNode) && el.className.indexOf(cls) < 0);
    return el;
}

			this.get = function() {
											var jqxhr = $.get( "/notes", function() { }) .done(function(notes) {
											$('#editor').append('Number of posts: '+ notes.length + '')
											var string = ''
											notes.forEach(function(i){
											for (var v in i) {
											if (i.hasOwnProperty(v)) {
											string += '<div> '+ v + ' = '+ i[v] + '</div>'
											$('#' + v) .val(i[v])
											// console.log(i[v]);
											}
											}
											// $('#observer') .append('	<div class="grid">' + string + ' </div> ')
											}
											)})
			 };
			this.update = function(data) {
									$.ajax({
									  type: "PUT",
									  url: "/notes/"+ data["noteId"],
									  id: "5b59c5414b38dd34d80410bd",
									  noteId: "5b59c5414b38dd34d80410bd",
									  _id: "5b59c5414b38dd34d80410bd",
									  data: data
									}).done(function(data){
										self.get()
										// console.log(data);
									})
			 };
			this.custom_update = function(info) {


var ajaxconfig = {
	type: "PUT",
	data: JSON.stringify(info),
	url: "/notes/m_update/"+ info["noteId"]
};

									$.ajax(ajaxconfig).done(function(data){
										// console.log(data);
									})
			 };
			this.createform = function() {
						var form_input_names = <%-JSON.stringify(d)%>;
						for (var variable in form_input_names) {
						if (form_input_names.hasOwnProperty(variable)) {
							// $('#editor span').before(variable + '<br>')
							$('#editor span').append('<label>'+ variable +'<input id="'+ variable +'" value="'+ variable +'"  name="'+ variable +'" type="text" placeholder="'+ variable +'" ></label>')
						}
						}
			}
			this.preparePostObject = function(data) {
							var form_input_names = <%-JSON.stringify(d)%>;
							for (var variable in form_input_names) {
							if (form_input_names.hasOwnProperty(variable)) {
								data[variable] = $('#'+ variable +'').val()
							}
							}
							return data;
				}
  }
var admin_Panel = new adminPanel('body');
admin_Panel.init()
jQuery('body').on('click', '#refresh_observer', function() {
	admin_Panel.get()
});
jQuery('#editor').on('click', '#subm', function() {
	data = {}
	data = admin_Panel.preparePostObject(data)
	data["noteId"] = data["_id"] = data["id"] = "5b59c5414b38dd34d80410bd"
	admin_Panel.update(data)
});
jQuery('.meditor').on('click', '.mcontent', function() {
	var med = jQuery(this).parent('.meditor')
	if (med.hasClass('active') !== false){
		med.addClass('closing')
	setTimeout(function(){
		med.removeClass('active')
	},100)
	setTimeout(function(){
		med.removeClass('closing')
	},300)
	} else {
jQuery(this).parent('.meditor').toggleClass('active')
	}
})


var clickUpdater = function(dis){
		info = {}
		let the_input = dis.parent('.msubmit').siblings('input')
		var dkey = the_input.attr('key');
		var dval = the_input.val();
		info[dkey] = dval;
		info["noteId"] = "<%= d["id"] %>";
		admin_Panel.custom_update(info);
		setTimeout(function(){
			let target = dis.parents(".meditor").find('.mcontent')
			target.first().text(dval)
			target.click()
		}, 10)
}
jQuery('.msubmit').on('click', 'img', function() {
			var dis = jQuery(this);
			clickUpdater(dis);
})




jQuery('.meditor input').each(function(){
					var dis = jQuery(this);
	dis.bind('keypress', function(e){
   if ( e.keyCode == 13 ) {
				let target = dis.parents(".meditor").find('.msubmit img')
				clickUpdater(target)
   }
 });


})
</script>
</div>
<%# START %>
</body>
</html>
