<!DOCTYPE html>
<html lang="en">
<head>
	<title> <%= d.title %></title>
<% include ../partials/head %>
<% include ../partials/single/head_single %>
</head>
<body>
<div class="super_container">
	<div class="home">
		<div class="home_background" style="background-image:url(/uploads/<%= d.home_background %>)"></div>
		<div class="shade">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_title">
							<h2><%= d.title %></h2>
						</div>
						<div class="breadcrumbs">
							<span><a href="index.html">Главная</a></span>
							<span><a href="#"> Дома</a></span>
							<span><a href="/doma/<%= d.page_link %>"><%= d.title %></a></span>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<header class="header trans_300">
			<% include ../partials/header %>
	</header>
	<div class="listing">
		<div class="container">
			<div class="row">


				<% include ../partials/single/single_top %>
			</div>
			<div class="row">

				<% include ../partials/single/single_slider %>
			</div>


			<div class="row listing_content_row">

				<div class="col-lg-8 listing_col">


					<% include ../partials/single/single_pre_description %>

					<!-- Listing Description -->
					<div class="listing_description">
						<div class="listing_subtitle">Описание</div>
						<p class="listing_description_text"><%- d.content %></p>
					</div>

					<!-- Listing Additional Details -->
					<div class="listing_additional_details">
						<div class="listing_subtitle">Дополнительная информация</div>
						<ul class="additional_details_list">
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
							<li class="additional_detail"><span>Деталь:</span> ее подробности</li>
						</ul>
					</div>

					<!-- Listing Video -->
					<div class="listing_video">
						<div class="listing_subtitle"><%- d.title %> на видео</div>
						<div class="listing_video_link">
							<a class="video" href="<%- d.video %>" title="">
								<img src="/video/video_banner.png" alt="/video/video_banner.png"><div class="video_play"><img src="/images/play.svg" alt=""></div></a>

						</div>
					</div>

					<!-- Listing Map -->
					<div class="listing_map">
						<div class="listing_subtitle"><%- d.title %> на карте</div>
						<div id="google_map">
							<div class="map_container">
								<%- d.map_iframe %>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

<% include ../partials/newsletter %>
<% include ../partials/footer %>


	
	</div>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/styles/bootstrap4/popper.js"></script>
	<script src="/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="/plugins/easing/easing.js"></script>
	<script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="/js/listings_single_custom.js"></script>
	<%# START %>
	<div class="editor_block">
	<div class="editor_holder">
	<div class="editor_caption">
	<form id="editor" action="/notes" method="put">
	<h2>	Update </h2>
	<span></span>
	<div id="subm"  class="btn btn-default" placeholder="Send">Update</div>
	<input type="submit" placeholder="Сохранить"  value="Сохранить"/>
	</form>
	</div>
	</div>
	<script>
	function adminPanel(elem) {
			this.init = function() {
				 this.get()
				 this.createform()
				 self = this
			}
			function findAncestor (el, cls) {
		while ((el = el.parentNode) && el.className.indexOf(cls) < 0);
		return el;
	}
			this.get = function() {
											var jqxhr = $.get( "/notes", function() { }) .done(function(notes) {
											$('#editor').append('Number of posts: '+ notes.length + '')
											var string = ''
											notes.forEach(function(i){
											for (var v in i) {
											if (i.hasOwnProperty(v)) {
											string += '<div> '+ v + ' = '+ i[v] + '</div>'
											$('#' + v) .val(i[v])
											// console.log(i[v]);
											}
											}
											// $('#observer') .append('	<div class="grid">' + string + ' </div> ')
											}
											)})
			 };
			this.update = function(data) {
									$.ajax({
										type: "PUT",
										url: "/notes/"+ data["noteId"],
										id: "5b59c5414b38dd34d80410bd",
										noteId: "5b59c5414b38dd34d80410bd",
										_id: "5b59c5414b38dd34d80410bd",
										data: data
									}).done(function(data){
										self.get()
										// console.log(data);
									})
			 };
			this.custom_update = function(info) {
	var ajaxconfig = {
	type: "PUT",
	data: JSON.stringify(info),
	url: "/notes/m_update/"+ info["noteId"]
	};
									$.ajax(ajaxconfig).done(function(data){
										// console.log(data);
									})
			 };
			this.createform = function() {
						var form_input_names = <%-JSON.stringify(d)%>;
						for (var variable in form_input_names) {
						if (form_input_names.hasOwnProperty(variable)) {
							// $('#editor span').before(variable + '<br>')
							$('#editor span').append('<label>'+ variable +'<input id="'+ variable +'" value="'+ variable +'"  name="'+ variable +'" type="text" placeholder="'+ variable +'" ></label>')
						}
						}
			}
			this.preparePostObject = function(data) {
							var form_input_names = <%-JSON.stringify(d)%>;
							for (var variable in form_input_names) {
							if (form_input_names.hasOwnProperty(variable)) {
								data[variable] = $('#'+ variable +'').val()
							}
							}
							return data;
				}
	}
	var admin_Panel = new adminPanel('body');
	admin_Panel.init()
	jQuery('body').on('click', '#refresh_observer', function() {
	admin_Panel.get()
	});
	jQuery('#editor').on('click', '#subm', function() {
	data = {}
	data = admin_Panel.preparePostObject(data)
	data["noteId"] = data["_id"] = data["id"] = "5b59c5414b38dd34d80410bd"
	admin_Panel.update(data)
	});
	jQuery('.meditor').on('click', '.mcontent', function() {
	var med = jQuery(this).parent('.meditor')
	if (med.hasClass('active') !== false){
		med.addClass('closing')
	setTimeout(function(){
		med.removeClass('active')
	},100)
	setTimeout(function(){
		med.removeClass('closing')
	},300)
	} else {
	jQuery(this).parent('.meditor').toggleClass('active')
	}
	})
	var clickUpdater = function(dis){
		info = {}
		let the_input = dis.parent('.msubmit').siblings('input')
		var dkey = the_input.attr('key');
		var dval = the_input.val();
		info[dkey] = dval;
		info["noteId"] = "<%= d["id"] %>";
		admin_Panel.custom_update(info);
		setTimeout(function(){
			let target = dis.parents(".meditor").find('.mcontent')
			target.first().text(dval)
			target.click()
		}, 10)
	}
	jQuery('.msubmit').on('click', 'img', function() {
			var dis = jQuery(this);
			clickUpdater(dis);
	})
	jQuery('.meditor input').each(function(){
					var dis = jQuery(this);
	dis.bind('keypress', function(e){
	 if ( e.keyCode == 13 ) {
				let target = dis.parents(".meditor").find('.msubmit img')
				clickUpdater(target)
	 }
	});
	})
	</script>
	</div>
	<%# START %>
	</body>
	</html>
