

              <% function ifDefined(elem, markup) {
                if   (typeof(elem) !== 'undefined' )  {
                  return markup
                } else {
                  return ''
                }
              }
              %>



<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Footer About -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">
          <div class="logo_container">
            <a href="/">
              <div class="logo">
                <img src="<%- ifDefined(sitedata.logo, sitedata.logo) %>" alt="">
                <span><%- ifDefined(sitedata.sitename, sitedata.sitename) %></span>
              </div>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <ul class="footer_social_list">


            <%- 		ifDefined(sitedata.fb_link, '<li class="footer_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>') %>
            <%- 		ifDefined(sitedata.insta_link, '<li class="footer_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li></a></li>') %>
            <%- 		ifDefined(sitedata.twitter_link, '<li class="footer_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li></a></li>') %>

          </ul>
        </div>
        <div class="footer_about">
          <p><%- ifDefined(sitedata.footer_description, sitedata.footer_description) %></p>
        </div>
      </div>
      <!-- Footer Useful Links -->
<% include ./footer_menu %>
      <!-- Footer Contact Form -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">Напишите нам</div>
        <div class="footer_contact_form_container">
          <% include ./form_name_mail_message %>
        </div>
      </div>
      <!-- Footer Contact Info -->
      <div class="col-lg-3 footer_col">
        <div class="footer_col_title">Контакты</div>
        <ul class="contact_info_list">

          <%- ifDefined(sitedata.address, `
              <li class="contact_info_item d-flex flex-row">
              <div>
                <div class="contact_info_icon">
                  <img src="/images/placeholder.svg" alt="">
                </div>
              </div>
                <div class="contact_info_text">${sitedata.address}</div>
              </li>
           `) %>


          <%- ifDefined(sitedata.phone, `
              <li class="contact_info_item d-flex flex-row">
               <div>
                 <div class="contact_info_icon">
                  <img src="/images/phone-call.svg" alt="">
                 </div>
               </div>
               <div class="contact_info_text">${sitedata.phone}</div>
              </li>
           `) %>

          <%- ifDefined(sitedata.mail, `
            <li class="contact_info_item d-flex flex-row">
              <div><div class="contact_info_icon"><img src="/images/message.svg" alt=""></div></div>
              <div class="contact_info_text"><a href="mailto:${sitedata.mail}?Subject=Hello" target="_top">${sitedata.mail}</a></div>
            </li>
            `) %>


          <li class="contact_info_item d-flex flex-row">
            <div><div class="contact_info_icon"><img src="/images/planet-earth.svg" alt=""></div></div>
            <div class="contact_info_text"><a href="/"><%- ifDefined(sitedata.sitename, sitedata.sitename) %></a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="credits">
  <span>
Copyright &copy; Все права защищены
 <%# | Шаблон сделан <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> %>
</span>
</div>
