





<div class="listing_item">
  <div class="listing_item_inner d-flex flex-md-row flex-column trans_300">
    <div class="listing_image_container">
      <div class="listing_image">
        <!-- Image by: https://unsplash.com/@breather -->
        <div class="listing_background" style="background-image:url(/uploads/<%= obj.home_background %>)"></div>
      </div>
      <div class="featured_card_box d-flex flex-row align-items-center trans_300">
        <img src="images/tag.svg" alt="<%= obj.title %>">
        <div class="featured_card_box_content">
          <div class="featured_card_price_title trans_300">Цены от</div>
          <div class="featured_card_price trans_300"><%= obj.prices_start_at %></div>
        </div>
      </div>
    </div>
    <div class="listing_content">
      <div class="listing_title"><a href="listings_single.html"><%= obj.title %></a></div>
      <div class="listing_text"><%- obj.content.replace(/<[^>]*>/g, '').substring(0, 300); %> </div>
      <div class="rooms">

        <div class="room">
          <span class="room_title">Этажей</span>
          <div class="room_content">
            <div class="room_image"><img src="images/svgs/2.svg" alt=""></div>
            <span class="room_number"><%= obj.floors_quant %></span>
          </div>
        </div>
        <div class="room">
          <span class="room_title">Квартир на этаже</span>
          <div class="room_content">
            <div class="room_image"><img src="images/svgs/3.svg" alt=""></div>
            <span class="room_number"><%= obj.appart_on_floor_quant %> Sq Ft</span>
          </div>
        </div>
        <div class="room">
          <span class="room_title">Секций</span>
          <div class="room_content">
            <div class="room_image"><img src="images/svgs/4.svg" alt=""></div>
            <span class="room_number"><%= obj.sections_quant %></span>
          </div>
        </div>
      </div>

      <div class="room_tags">
        <span class="room_tag"><a href="#"><%= obj.construction_type %></a></span>
        <span class="room_tag"><a href="#">Окна:<%= obj.windows %></a></span>
        <span class="room_tag"><a href="#"><%= obj.warming %></a></span>
        <span class="room_tag"><a href="#"><%= obj.block %> район</a></span>
      </div>
    </div>
  </div>
</div>
